<style type="text/css">
	.header {
		font-size: 120px;
		box-shadow: inset -2px -2px 5px 5px #0001;
		width: 100vw;
		background: #eee;
	}

</style>


<div class="header">
	News Articles
</div>
